
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

This is a simple project ,
It demonstratest the use of Good practices
 
    <li>
        Onion Architecture
    </li>
    <li>
        Entity framework
    </li>
    <li>
        Boot Strap
    </li>
    <li>
        Di using Autofac
    </li>
 

@Html.ActionLink("Users Demo", "Index", "Users") 

